{% extends 'base.html' %}
{% block content %}

<style>
	.card .card-reveal {

	}
	#landBg1 {
		/* display: none; */
		background-size: cover;
		/* background-position: bottom; */
	}

	.hero {
		height: 500px;
	}

	.clearfix {
		margin-top: 0;
	}

	#jumbotron-wrapper-text p {
		background-color: #0000007a;
        color:#bfa333;;
	}

	.jumbotron {
		margin-top: 0;
		width: 100%;
		background-image: url('https://images.unsplash.com/photo-1489702932289-406b7782113c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80');
		background-size: cover;
        background-position:center;
	}
    select {
        display: inline;
    }
</style>





<div class="parallax-container">



	<div class="parallax hero">

		<img src="/static/img/paul1.jpg" style="height:600px; margin-top:100px">
	</div>
</div>


<div class="parallax-container section white">
	<div class="row container">
		<h2 class="header">Parallax</h2>
		<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in
			this case, is moved at a different speed than the foreground content while scrolling.</p>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="/static/img/annie3.jpg">
	</div>


</div>


 <div class="jumbotron">
	<br><br><br><br><br><br>
	<div class="container center-align" id="jumbotron-wrapper">		
        <div class="jumbotron-wrapper-text">
		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</div> 
		<!-- <div class="row"> -->
			<h1>mac</h1>
		<!-- </div> -->
	</div>
  </div>


<div class="row" id="callout">
	<div class="parallax-container">
		<div class="parallax"><img src="/static/img/markus1.jpg" style="height:400px; margin-top:00px">
		</div>
	</div>
</div>


<div class="parallax-container section white">
	<div class="row container">
		<h2 class="header">Parallax</h2>
		<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in
			this case, is moved at a different speed than the foreground content while scrolling.</p>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img
			src="https://github.com/MACmidiDEV/taskManager-flask-mongo/blob/master/static/img/agence.jpg?raw=true">
	</div>
</div>


{% endblock %}