{% extends 'base.html' %}
{% block content %}
	
	<!-- <div class="container"> -->
		<div class="parallax-container">
			
	
	
			<div class="parallax"><img
					src="https://images.unsplash.com/photo-1520168361367-c8080c2d20fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
			</div>
		</div>
	
	
		<div class="section white">
			<div class="row container">
				<h2 class="header">Parallax</h2>
				<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in
					this case, is moved at a different speed than the foreground content while scrolling.</p>
			</div>
		</div>
		<div class="parallax-container">
			<div class="parallax"><img
					src="https://images.unsplash.com/photo-1578852612716-854e527abf2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
			</div>
		</div>


	<!-- </div> -->
	
{% endblock %}