{% extends 'base.html' %}
{% block content %}




<!-- Edit Categories Page -->
<style>

   #meet {
	   			display: inline;
                position: relative;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
				
				
            }
	.vid_id {
		margin: 0 auto;
		text-align: right;
		font-size: 2.5em;
		display: inline;
	}		
</style>

<div class="inject">
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
	</nav>
  </div>

<footer>
<div id="meet"></div>
</footer>





<script src='https://meet.jit.si/external_api.js'></script>

<script type="text/javascript">
	const domain = 'meet.jit.si';
	const options = {
		roomName: 'ToodlerLearning',
		// width: 300,
		height: 600,
		parentNode: document.querySelector('#meet')
	};
	const api = new JitsiMeetExternalAPI(domain, options);
</script>

{% endblock %}

